.add-new-card1 {
  position: absolute;
  top: 49px;
  left: 47px;
  font-weight: 500;
}
.rectangle-add-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 305px;
  height: 43px;
}
.add {
  position: absolute;
  top: 12.5px;
  left: 102.8px;
  display: inline-block;
  width: 99.3px;
}
.group1,
.signin {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 43px;
}
.group1 {
  top: 360.2px;
  left: 36px;
  cursor: pointer;
}
.gaobu-icon15 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon15 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.group-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375.5px;
  height: 812px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.fanhui-icon1 {
  position: absolute;
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}
.add-new-card {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
