.arectangle10 {
  position: absolute;
  top: -3px;
  left: -1px;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
  display: none;
}
.apick-up1 {
  position: absolute;
  top: 92.5px;
  left: 20.2px;
  color: var(--color-dodgerblue);
  display: inline-block;
  width: 77.6px;
}
.alocation2 {
  margin: 0;
}
.afuzhou-airport-23-container,
.alocation-date-time-container2 {
  position: absolute;
  top: 115.5px;
  line-height: 200%;
  display: inline-block;
}
.alocation-date-time-container2 {
  left: 33.2px;
  color: var(--color-gray);
  width: 77.6px;
}
.afuzhou-airport-23-container {
  left: 219px;
  text-align: right;
  width: 127.8px;
}
.alocation-date-time-container3 {
  position: absolute;
  top: 232.5px;
  left: 33.2px;
  line-height: 200%;
  color: var(--color-gray);
  display: inline-block;
  width: 77.6px;
}
.afuzhou-intercontinental-23-container {
  position: absolute;
  top: 232.5px;
  left: 179px;
  line-height: 200%;
  text-align: right;
  display: inline-block;
  width: 167.8px;
}
.aenglish-25-5-container1,
.alanguage-price-service-container1 {
  position: absolute;
  top: 346.5px;
  line-height: 200%;
  display: inline-block;
}
.alanguage-price-service-container1 {
  left: 33.2px;
  color: var(--color-gray);
  width: 77.6px;
}
.aenglish-25-5-container1 {
  left: 179px;
  text-align: right;
  width: 167.8px;
}
.aname-email-mobile-container1 {
  position: absolute;
  top: 502.5px;
  left: 39.2px;
  line-height: 200%;
  color: var(--color-gray);
  display: inline-block;
  width: 113.8px;
}
.awinston-winstongmailcom-225-container1 {
  position: absolute;
  top: 502.5px;
  left: 185px;
  line-height: 200%;
  text-align: right;
  display: inline-block;
  width: 167.8px;
}
.acar-type-car-container1,
.asaloon-abdj2598-honda-container1 {
  position: absolute;
  top: 684.5px;
  line-height: 200%;
  display: inline-block;
}
.acar-type-car-container1 {
  left: 39.2px;
  color: var(--color-gray);
  width: 113.8px;
}
.asaloon-abdj2598-honda-container1 {
  left: 185px;
  text-align: right;
  width: 167.8px;
}
.acar2,
.adriver1,
.adrop-off1,
.ainvoice1 {
  position: absolute;
  top: 212.5px;
  left: 20.2px;
  color: var(--color-dodgerblue);
  display: inline-block;
  width: 77.6px;
}
.acar2,
.adriver1,
.ainvoice1 {
  top: 326.5px;
}
.acar2,
.adriver1 {
  top: 478.5px;
}
.acar2 {
  top: 659.5px;
}
.abooking-details3 {
  position: absolute;
  top: 49px;
  left: 47px;
  font-weight: 500;
}
.agaobu-icon8 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.adibu-icon7 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.abooking-details-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 375.5px;
  height: 812px;
  font-size: var(--font-size-5xl);
}
.afanhui-icon7 {
  position: absolute;
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}
.abooking-details2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
