.abooking-history-child {
  position: absolute;
  top: 142px;
  left: 0;
  background-color: var(--color-gainsboro);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  width: 378px;
  height: 673px;
  opacity: 0.5;
}
.agaobu-icon1 {
  position: absolute;
  height: 29.27%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 70.73%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.agroup-child {
  position: absolute;
  top: 43px;
  left: 0;
  background-color: var(--color-white);
  width: 374px;
  height: 62px;
}
.arectangle-21kuan-icon,
.arectangle-3blue-icon {
  position: absolute;
  top: 88.9px;
  width: 171.5px;
  height: 37.2px;
  left: 20px;
}
.arectangle-21kuan-icon {
  left: 190px;
  cursor: pointer;
}
.aroom-booking-history {
  position: absolute;
  top: 49px;
  left: 47px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.aroom {
  position: absolute;
  top: 97px;
  left: 77px;
  color: var(--color-white);
  z-index: 1000;
}
.acar1 {
  position: absolute;
  top: 98px;
  left: 255px;
  color: var(--color-dodgerblue);
  z-index: 1000;
}
.agaobu-group {
  position: absolute;
  height: 15.78%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 84.22%;
  left: 0;
}
.afanhui-icon1 {
  position: absolute;
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}
.agroup-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  width: 338px;
  height: 82px;
}
.afuzhou-airport,
.ajuly-2019 {
  position: absolute;
  top: 13px;
  left: 47.3px;
}
.ajuly-2019 {
  top: 17px;
  left: 272.3px;
  font-size: var(--font-size-3xs);
  font-weight: 300;
  opacity: 0.5;
}
.agroup-icon {
  position: absolute;
  top: 7.8px;
  left: 17.8px;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.ab,
.afuzhou-intercontinental,
.agroup-icon1 {
  position: absolute;
  top: 52px;
  left: 50.3px;
}
.ab,
.agroup-icon1 {
  top: 55.7px;
  left: 300.7px;
}
.agroup-icon1 {
  top: 46.8px;
  left: 17.8px;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.arectangle-parent {
  position: absolute;
  top: 161px;
  left: 18px;
  width: 338px;
  height: 82px;
  cursor: pointer;
  font-size: var(--font-size-sm);
}
.abooking-history {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
