.book-a-car-child {
  position: absolute;
  top: 744.5px;
  left: -2px;
  border-radius: var(--br-sm);
  width: 381px;
  height: 73.5px;
}
.book-a-car-item {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}
.book-a-car1 {
  position: absolute;
  top: 49px;
  left: 17px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.line28 {
  position: absolute;
  top: 199px;
  left: -1px;
  border-top: 2px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 379px;
  height: 2px;
}
.rectangle111-icon {
  position: absolute;
  top: 198px;
  left: -2px;
  width: 378px;
  height: 552px;
  object-fit: cover;
}
.dropoff-location {
  position: absolute;
  top: 143px;
  left: 54.3px;
  font-size: var(--font-size-sm);
}
.group-icon1 {
  position: absolute;
  top: 138.8px;
  left: 25.8px;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.book-a-car-inner {
  position: absolute;
  top: 672px;
  left: -5px;
  background-color: var(--color-white);
  width: 382.5px;
  height: 78px;
}
.line29 {
  position: absolute;
  top: 734.2px;
  left: 24.5px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 148px;
  height: 1px;
}
.rectangle-icon {
  position: absolute;
  top: 714.2px;
  left: 156.4px;
  width: 14.1px;
  height: 14.1px;
  object-fit: contain;
}
.select-car-type {
  position: absolute;
  top: 692.7px;
  left: 25.7px;
  opacity: 0.5;
}
.select-car-type1 {
  position: absolute;
  top: 713.7px;
  left: 25.7px;
  font-size: var(--font-size-sm);
}
.line30 {
  position: absolute;
  top: 734.2px;
  left: 207.5px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 148px;
  height: 1px;
}
.rectangle-icon1 {
  position: absolute;
  top: 714.2px;
  left: 339.4px;
  width: 14.1px;
  height: 14.1px;
  object-fit: contain;
}
.select-language {
  position: absolute;
  top: 692.7px;
  left: 208.7px;
  opacity: 0.5;
}
.fuzhou-airport,
.select-language1 {
  position: absolute;
  top: 713.7px;
  left: 208.7px;
  font-size: var(--font-size-sm);
}
.fuzhou-airport {
  top: 98px;
  left: 54px;
}
.group-icon2 {
  position: absolute;
  top: 92.8px;
  left: 25.8px;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.book-a-car-child1,
.book-a-car-child2 {
  position: absolute;
  left: 16px;
  width: 343px;
  height: 34px;
}
.book-a-car-child1 {
  top: 87.5px;
  object-fit: cover;
}
.book-a-car-child2 {
  top: 133.5px;
  border-radius: var(--br-4xs);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
}
.gaobu-icon7 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon7 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.car-booking7 {
  position: absolute;
  top: 22.4px;
  left: 0;
}
.unioncarwrie-icon {
  position: relative;
  width: 22px;
  height: 17.6px;
}
.car-booking-parent5,
.gaobu-parent {
  position: absolute;
  top: 768.6px;
  left: 79.8px;
  width: 65px;
  height: 36.4px;
}
.gaobu-parent {
  height: 100%;
  width: 100.13%;
  top: 0;
  right: -0.13%;
  bottom: 0;
  left: 0;
  text-align: center;
  color: var(--color-white);
}
.image-icon {
  position: absolute;
  top: 167px;
  left: 28px;
  width: 323px;
  height: 273px;
  object-fit: cover;
  cursor: pointer;
}
.blackbell-icon6,
.notifications8 {
  position: absolute;
  top: 25px;
  left: 0;
}
.blackbell-icon6 {
  height: 57.95%;
  width: 31.88%;
  top: 0;
  right: 34.78%;
  bottom: 42.05%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications-parent5 {
  position: absolute;
  top: 766px;
  left: 156px;
  width: 69px;
  height: 39px;
  cursor: pointer;
  text-align: center;
  color: var(--color-midnightblue);
}
.settings8 {
  position: absolute;
  top: 16.6px;
  left: 0;
}
.srectangle-28,
.srectangle-38 {
  position: absolute;
  top: 1.3px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-38 {
  top: 0;
  left: 7.4px;
  width: 2px;
  height: 4.3px;
}
.srectangle-216,
.srectangle-226,
.srectangle-316,
.srectangle-326 {
  position: absolute;
  top: 5.6px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-226,
.srectangle-316,
.srectangle-326 {
  top: 4.3px;
  left: 12.6px;
  width: 2px;
  height: 4.3px;
}
.srectangle-226,
.srectangle-326 {
  top: 9.5px;
  left: 0;
  width: 16.8px;
  height: 1.6px;
}
.srectangle-326 {
  top: 8.2px;
  left: 4.8px;
  width: 2px;
  height: 4.3px;
}
.blackset6 {
  position: absolute;
  top: 0;
  left: 13.6px;
  width: 16.8px;
  height: 12.5px;
}
.settings-parent5 {
  position: absolute;
  top: 774.4px;
  left: 308px;
  width: 44px;
  height: 30.6px;
  cursor: pointer;
  text-align: center;
  color: var(--color-midnightblue);
}
.rooms7 {
  position: absolute;
  top: 24.3px;
  left: 0;
}
.subtractwuzi-icon1 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.rooms-parent5 {
  position: absolute;
  top: 766.8px;
  left: 30px;
  width: 38px;
  height: 38.3px;
  cursor: pointer;
  text-align: center;
  color: var(--color-midnightblue);
}
.my-profile7 {
  position: absolute;
  top: 21.6px;
  left: 0;
}
.blackpeo-icon6 {
  position: relative;
  width: 17.6px;
  height: 16.1px;
}
.my-profile-parent5 {
  position: absolute;
  top: 769.4px;
  left: 241.3px;
  width: 53px;
  height: 35.6px;
  cursor: pointer;
  text-align: center;
  color: var(--color-midnightblue);
}
.book-a-car {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
