.arectangle9 {
  position: absolute;
  top: -3px;
  left: -1px;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
  display: none;
}

.achange-password2 {
  position: absolute;
  top: 49px;
  left: 47px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}

.aline {
  position: absolute;
  top: 161.8px;
  left: 38.5px;
  border-top: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 300px;
  height: 1px;
}

.aline1,
.aold-password {
  position: absolute;
  top: 132.3px;
  left: 74px;
}

.aline1 {
  top: 248.9px;
  left: 38.5px;
  border-top: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 300px;
  height: 1px;
}

.acreate-new-password,
.aline2 {
  position: absolute;
  top: 219.4px;
  left: 74px;
}

.aline2 {
  top: 307.1px;
  left: 38.5px;
  border-top: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 300px;
  height: 1px;
}

.aconfirm-new-password {
  position: absolute;
  top: 277.6px;
  left: 74px;
}

.achange-password-child {
  position: absolute;
  top: 132.8px;
  left: 39px;
  width: 16px;
  height: 162.5px;
  object-fit: cover;
}

.agaobu-icon7 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.adibu-icon6 {
  position: relative;
  width: 375.5px;
  height: 38px;
}

.achange-password-inner,
.agaobu-parent1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.achange-password-inner {
  width: 100.13%;
  right: -0.13%;
}

.asaearch1-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 305px;
  height: 43px;
}

.asaearch1-icon,
.asignin,
.aupdate {
  position: absolute;
}

.aupdate {
  top: 12.5px;
  left: 102.8px;
  display: inline-block;
  width: 99.3px;
}

.asignin {
  top: 0;
  left: 0;
  width: 305px;
  height: 43px;
}

.afanhui-icon6,
.agroup {
  position: absolute;
  cursor: pointer;
}

.agroup {
  top: 350.2px;
  left: 36px;
  width: 305px;
  height: 43px;
  text-align: center;
  color: var(--color-white);
}

.afanhui-icon6 {
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
}

.achange-password1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
