.people2-icon {
  position: absolute;
  top: 112px;
  left: 108.2px;
  border-radius: 79.27px;
  width: 158.5px;
  height: 157.4px;
  object-fit: cover;
  opacity: 0.3;
}
.rectangle4 {
  position: absolute;
  top: -3px;
  left: -1px;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
  display: none;
}
.edit-profile1 {
  position: absolute;
  top: 49px;
  left: 47px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.line31 {
  position: absolute;
  top: 468.8px;
  left: 38.4px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 297px;
  height: 1px;
}
.johnsmithgmailcom {
  position: absolute;
  top: 439.3px;
  left: 75px;
}
.email-icon,
.line32 {
  position: absolute;
  top: 441.1px;
  left: 43px;
  width: 18px;
  height: 16.5px;
}
.line32 {
  top: 373.5px;
  left: 38.4px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 297px;
  height: 1px;
}
.john-smith1 {
  position: absolute;
  top: 344px;
  left: 75px;
}
.bluepeople-icon {
  position: relative;
  top: 341.1px;
  left: 43px;
  width: 18px;
  height: 16.5px;
}
.line33 {
  position: absolute;
  top: 568.2px;
  left: 38.4px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 297px;
  height: 1px;
}
.div3,
.div4 {
  position: absolute;
  top: 538.7px;
  left: 78px;
}
.div4 {
  top: 532.7px;
  left: 178px;
  line-height: 200%;
}
.email,
.full-name,
.mobile-number {
  position: absolute;
  top: 410.3px;
  left: 41px;
  font-size: var(--font-size-xs);
  opacity: 0.5;
}
.full-name,
.mobile-number {
  top: 315px;
}
.mobile-number {
  top: 509.7px;
  left: 44px;
}
.rectangle-icon2 {
  position: absolute;
  top: 538.1px;
  left: 134.7px;
  width: 14.1px;
  height: 14.1px;
  object-fit: contain;
}
.edit-profile-child {
  position: absolute;
  top: 535.2px;
  left: 161.3px;
  border-right: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 1px;
  height: 27.5px;
}
.mobilephone-icon {
  position: relative;
  width: 15.3px;
  height: 21.7px;
  top: 541.1px;
  left: 26px;

}
.group-child36,
.picture11-icon {
  position: absolute;
  top: 170px;
  left: 166px;
  width: 46px;
  height: 39.1px;
}
.group-child36 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 317px;
  height: 43px;
}
.group,
.update {
  position: absolute;
  top: 12.5px;
  left: 129.5px;
}
.group {
  top: 613.5px;
  left: 29px;
  width: 317px;
  height: 43px;
  cursor: pointer;
}
.gaobu-icon14 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon14,
.group-group {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.group-group {
  position: absolute;
  top: 0;
  left: 0;
  height: 812px;
  text-align: center;
  color: var(--color-white);
}
.fanhui-icon {
  position: absolute;
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}
.edit-profile {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
