.rectangle7 {
  position: absolute;
  top: -3px;
  left: -1px;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
}
.forgot-password-child {
  position: absolute;
  top: 147px;
  left: 18px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 340px;
  height: 646px;
}
.line-icon {
  position: absolute;
  top: 338.8px;
  left: 36px;
  max-height: 100%;
  width: 300px;
}
.email3-top
{
  position: absolute;
  top: 302px;
  left: 75px;
  z-index: 1000;
  border: none;
  outline: 1px solid rgb(155, 155, 155);
  height: 35px;
  font-size: 20px;
  width: 260px;
  border-radius: 10px;
  transition: 50ms;
}
.email3-top:focus { 
  outline: 3px solid rgb(0, 81, 255); 
  border-radius: 10px;
}
.email1 {
  position: absolute;
  top: 309.3px;
  left: 68px;
  color: var(--color-black);
}
.email-icon1 {
  position: absolute;
  top: 311.1px;
  left: 36px;
  width: 18px;
  height: 16.5px;
}
.forgot-password1 {
  position: absolute;
  top: 106px;
  left: 19px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.please-enter {
  margin: 0;
}
.please-enter-your-container {
  position: absolute;
  top: 212px;
  left: 40px;
  font-size: var(--font-size-base);
  color: rgba(156, 160, 168, 0.5);
  white-space: pre-wrap;
}
.gaobu-icon21 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon21 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.gaobu-parent1 {
  position: absolute;
  height: 100%;
  width: 100.13%;
  top: 0;
  right: -0.13%;
  bottom: 0;
  left: 0;
}
.search1-icon7 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 305px;
  height: 43px;
  background-color: #ffffff00;
}
.group2{
  background-color: #ffffff00;
  position: absolute;
}
.search1-icon7{
  position: absolute;
}
.submit {
  position: absolute;
  background-color: #ffffff00;
}
.submit {
  top: 12.5px;
  left: 105.9px;
  display: inline-block;
  width: 94.1px;
}
.group2 {
  top: 372.5px;
  left: 35px;
  width: 305px;
  height: 43px;
  cursor: pointer;
  text-align: center;
}
.forgot-password {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
