.bicon26 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 375.5px;
  height: 255.5px;
  object-fit: cover;
}
.bgaodu2-icon3 {
  position: absolute;
  height: 14.56%;
  width: 99.87%;
  top: 0;
  right: 0;
  bottom: 85.44%;
  left: 0.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bintercontinental1 {
  position: absolute;
  top: 38px;
  left: 39.5px;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.81);
}
.bparent10 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 375.5px;
  height: 257.5px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.babidjan-cte-divoire2,
.bthree-lanes-and8 {
  position: absolute;
  top: 763.4px;
  left: 21.2px;
  display: inline-block;
  width: 119.3px;
  height: 12.1px;
}
.bthree-lanes-and8 {
  top: 845.4px;
  left: 119.2px;
  font-size: var(--font-size-sm);
  width: 179.3px;
}
.bdistance4,
.brating-16494,
.bthree-lanes-and9 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.bthree-lanes-and9 {
  top: 862.4px;
  left: 119.2px;
  line-height: 145.19%;
  width: 242.3px;
  height: 42.1px;
  opacity: 0.5;
}
.bdistance4,
.brating-16494 {
  top: 912.4px;
  left: 123.2px;
  width: 81.3px;
  height: 14.1px;
}
.bdistance4 {
  left: 303.5px;
  text-align: right;
  width: 54px;
}
.bdiv27 {
  top: 931.4px;
  left: 141.2px;
  width: 21.3px;
  height: 14.1px;
}
.bdiv27,
.bdiv28,
.bmin4,
.bpeople-liked-this11 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.bmin4 {
  top: 931.4px;
  left: 303.5px;
  text-align: right;
  width: 54px;
  height: 14.1px;
}
.bdiv28,
.bpeople-liked-this11 {
  top: 2.9px;
  left: 17.7px;
  width: 22.3px;
  height: 12.8px;
}
.bpeople-liked-this11 {
  top: 20.9px;
  left: 2.2px;
  font-weight: 300;
  width: 146.8px;
  height: 12.1px;
}
.bstar-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xs);
  width: 17px;
  height: 17px;
}
.bfujian-fuzhou11 {
  position: absolute;
  top: 5.5px;
  left: 23.5px;
  font-weight: 300;
  display: inline-block;
  width: 146.8px;
  height: 12.1px;
}
.bgroup-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.bfujian-fuzhou-parent8,
.bparent11 {
  position: absolute;
  top: 10.3px;
  left: 155.8px;
  width: 170.3px;
  height: 21.7px;
}
.bparent11 {
  top: 211.5px;
  left: 24px;
  width: 326px;
  height: 33px;
  color: var(--color-white);
}
.bline60,
.bline61,
.bline62,
.bline63,
.bline64 {
  position: absolute;
  top: 321px;
  left: -2px;
  border-top: 2px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 379px;
  height: 2px;
}
.bline61,
.bline62,
.bline63,
.bline64 {
  top: 435px;
}
.bline62,
.bline63,
.bline64 {
  top: 795px;
}
.bline63,
.bline64 {
  top: 964px;
  left: 20px;
  width: 364px;
}
.bline64 {
  top: 1157px;
  left: -2px;
  width: 379px;
}
.bset-in-the1 {
  margin: 0;
}
.bgood-location-overall2,
.bscores-are-calculated-container2,
.bset-in-the-container1 {
  position: absolute;
  top: 356px;
  left: 19px;
  line-height: 145.19%;
  font-weight: 300;
  display: inline-block;
  width: 349px;
  height: 61px;
}
.bgood-location-overall2,
.bscores-are-calculated-container2 {
  top: 689.5px;
  left: 22.5px;
  width: 337px;
  height: 48.5px;
  opacity: 0.5;
}
.bgood-location-overall2 {
  top: 487.5px;
  left: 102.5px;
  width: 243.5px;
  height: 61px;
}
.bgreat-for-promximity2,
.bno-nearby-transit2,
.bok-for-airport2 {
  position: absolute;
  top: 563.5px;
  left: 72.5px;
  line-height: 145.19%;
  display: inline-block;
  width: 243.5px;
  height: 14.5px;
}
.bno-nearby-transit2,
.bok-for-airport2 {
  top: 610px;
}
.bok-for-airport2 {
  top: 656.5px;
}
.bbaidi44-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 115.5px;
  height: 37.2px;
}
.breview-1069 {
  position: absolute;
  top: 10.6px;
  left: 17.5px;
  display: inline-block;
  width: 82.5px;
}
.bbaidi44-parent2 {
  position: absolute;
  top: 269.9px;
  left: 15px;
  width: 115.5px;
  height: 37.2px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-dodgerblue);
}
.bbaidizhongjian2 {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 115px;
  height: 37.3px;
}
.bphoto-104 {
  position: absolute;
  top: 10.6px;
  left: 25.4px;
  display: inline-block;
  width: 67.6px;
}
.bbaidizhongjian-container {
  position: absolute;
  top: 269.9px;
  left: 129px;
  width: 115px;
  height: 37.3px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-dodgerblue);
}
.bhotel-location-score2,
.blocation-over-view2,
.bthings-to-do2 {
  position: absolute;
  top: 333.5px;
  left: 17.9px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  display: inline-block;
  width: 148.6px;
}
.bhotel-location-score2,
.bthings-to-do2 {
  top: 445.5px;
  width: 176.6px;
}
.bthings-to-do2 {
  top: 809.5px;
}
.blandi442 {
  position: absolute;
  top: 269.9px;
  left: 242px;
  border-radius: 0 var(--br-mini) var(--br-mini) 0;
  background-color: var(--color-dodgerblue);
  width: 114px;
  height: 37.3px;
}
.bnear-by-244 {
  position: absolute;
  top: 280.5px;
  left: 260.2px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 77.6px;
}
.bbookingnow-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 187.8px;
  height: 62.2px;
}
.bbooking-now6 {
  position: absolute;
  top: 23.1px;
  left: 45.9px;
  text-transform: uppercase;
}
.bbookingnow-parent4 {
  position: absolute;
  top: 1327.8px;
  left: 187.7px;
  width: 187.8px;
  height: 62.2px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.bhotel-nearby-child {
  position: absolute;
  top: 1328px;
  left: 0;
  background-color: var(--color-white);
  width: 187px;
  height: 64px;
}
.bavgnight6,
.bb9,
.bdiv29 {
  position: absolute;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-gray-200);
  text-align: center;
}
.bdiv29 {
  top: 1346.4px;
  left: 47.6px;
  opacity: 0.3;
}
.bavgnight6,
.bb9 {
  top: 1364.9px;
  left: 56px;
}
.bb9 {
  top: 1343.4px;
  left: 88.6px;
  font-size: var(--font-size-xl);
}
.bhotel-nearby-item {
  position: absolute;
  top: 1354.5px;
  left: 46px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 35px;
  height: 1px;
  opacity: 0.5;
}
.bphoto-camera-icon2,
.bplane-icon2,
.bsubway-icon2 {
  position: absolute;
  top: 598px;
  left: 32px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.bphoto-camera-icon2,
.bplane-icon2 {
  top: 559px;
  left: 36px;
  width: 20px;
  height: 20px;
}
.bplane-icon2 {
  top: 645px;
  left: 32px;
  width: 31px;
  height: 31px;
}
.bdirections2 {
  position: absolute;
  top: 0;
  left: 20.4px;
  font-weight: 500;
  display: inline-block;
  width: 55.3px;
  height: 12.1px;
}
.bgroup-child5 {
  position: absolute;
  top: 4.9px;
  left: 0;
  width: 14px;
  height: 7.6px;
}
.bdirections-container {
  position: absolute;
  top: 763.4px;
  left: 277.9px;
  width: 75.6px;
  height: 12.6px;
  color: var(--color-dodgerblue);
}
.bd1-icon2,
.bhotel-nearby-inner {
  position: absolute;
  top: 763.2px;
  left: 282.8px;
  width: 10.2px;
  height: 10.2px;
  object-fit: contain;
}
.bd1-icon2 {
  top: 846.9px;
  left: 20.7px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 99.6px;
  object-fit: cover;
}
.bcar-icon4,
.bstar-icon16 {
  position: absolute;
  top: 929px;
  width: 17px;
  height: 17px;
}
.bstar-icon16 {
  left: 119px;
  border-radius: var(--br-12xs);
}
.bcar-icon4 {
  left: 305px;
  overflow: hidden;
  object-fit: contain;
}
.bwest-lake-park2 {
  position: absolute;
  top: 979px;
  left: 119.2px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 179.3px;
  height: 12.1px;
}
.brating-16495,
.bthe-west-lake3 {
  position: absolute;
  font-weight: 300;
}
.bthe-west-lake3 {
  top: 996px;
  left: 119px;
  line-height: 145.19%;
  display: inline-block;
  width: 243px;
  height: 53px;
  opacity: 0.5;
}
.brating-16495 {
  top: 1046px;
  left: 123.2px;
  width: 81.3px;
}
.bdistance5,
.bdiv30,
.brating-16495 {
  display: inline-block;
  height: 14.1px;
}
.bdistance5 {
  position: absolute;
  top: 1046px;
  left: 303.5px;
  font-weight: 300;
  text-align: right;
  width: 54px;
}
.bdiv30 {
  top: 1065px;
  left: 141.2px;
  font-weight: 500;
  width: 21.3px;
}
.bdiv30,
.bline65,
.bmin5 {
  position: absolute;
}
.bmin5 {
  top: 1065px;
  left: 303.5px;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  width: 54px;
  height: 14.1px;
}
.bline65 {
  top: 1097.6px;
  left: 20px;
  border-top: 2px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 364px;
  height: 2px;
}
.bdd2-icon2 {
  position: absolute;
  top: 980.5px;
  left: 20.7px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 99.6px;
  object-fit: cover;
}
.bstar-icon17 {
  position: absolute;
  top: 1062.6px;
  left: 119px;
  border-radius: var(--br-12xs);
  width: 17px;
  height: 17px;
}
.bcar-icon5,
.bfanhui1-icon15 {
  position: absolute;
  object-fit: contain;
}
.bcar-icon5 {
  top: 1062.6px;
  left: 299px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.bfanhui1-icon15 {
  top: 43.1px;
  left: 15.7px;
  width: 18.2px;
  height: 18.2px;
  cursor: pointer;
}
.bhotel-nearby {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1390px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
