.bdituba1-icon,
.bicon17 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 375.5px;
  height: 257.5px;
  object-fit: cover;
}
.bdituba1-icon {
  top: 1156px;
  left: -2px;
  width: 378px;
  height: 236px;
}
.bdiv18,
.bpeople-liked-this7 {
  position: absolute;
  top: 20.9px;
  left: 2.2px;
  font-weight: 300;
  display: inline-block;
  width: 146.8px;
  height: 12.1px;
}
.bdiv18 {
  top: 2.9px;
  left: 17.7px;
  font-weight: 500;
  width: 22.3px;
  height: 12.8px;
}
.bparent4,
.bstar-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
}
.bstar-icon11 {
  border-radius: var(--br-12xs);
  width: 17px;
}
.bparent4 {
  width: 40px;
  cursor: pointer;
}
.bfujian-fuzhou7 {
  position: absolute;
  top: 5.5px;
  left: 23.5px;
  font-weight: 300;
  display: inline-block;
  width: 146.8px;
  height: 12.1px;
}
.bgroup-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.bfujian-fuzhou-parent4 {
  position: absolute;
  top: 10.3px;
  left: 155.8px;
  width: 170.3px;
  height: 21.7px;
}
.bpeople-liked-this-group {
  position: absolute;
  top: 211.5px;
  left: 24px;
  width: 326px;
  height: 33px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.bline29,
.bline30,
.bline31 {
  position: absolute;
  top: 763px;
  left: -2px;
  border-top: 2px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 379px;
  height: 2px;
}
.bline30,
.bline31 {
  top: 993px;
}
.bline31 {
  top: 1157px;
}
.bcheck-availability1,
.bfood1,
.bview-all1 {
  position: absolute;
  top: 772.5px;
  left: 17.2px;
  text-transform: uppercase;
  display: inline-block;
  width: 148.6px;
}
.bfood1,
.bview-all1 {
  top: 1004.5px;
  width: 43.8px;
}
.bview-all1 {
  left: 293px;
  font-weight: 500;
  color: var(--color-dodgerblue);
  text-align: right;
  width: 62px;
}
.bicon18 {
  position: absolute;
  top: 1035.9px;
  left: 19.7px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 77px;
  object-fit: cover;
}
.bbagels-with-turkey1 {
  position: absolute;
  top: 1114.9px;
  left: 22.2px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  display: inline-block;
  width: 90.8px;
  height: 27.6px;
}
.bicon19 {
  position: absolute;
  top: 1035.9px;
  left: 119.7px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 77px;
  object-fit: cover;
}
.bgourmet-croissant-scrambled1 {
  position: absolute;
  top: 1114.9px;
  left: 116.2px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  display: inline-block;
  width: 99.3px;
  height: 26.6px;
}
.bicon20 {
  position: absolute;
  top: 1035.9px;
  left: 220.7px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 77px;
  object-fit: cover;
}
.bsandwich1 {
  position: absolute;
  top: 1114.9px;
  left: 223.2px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  display: inline-block;
  width: 91.3px;
  height: 12.8px;
}
.bicon21 {
  position: absolute;
  top: 1036px;
  left: 322px;
  border-radius: var(--br-6xs);
  width: 54px;
  height: 77px;
  object-fit: cover;
}
.bcrispy-mo1 {
  position: absolute;
  top: 1114.9px;
  left: 324.2px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  display: inline-block;
  width: 91.3px;
  height: 12.8px;
}
.bunion-icon2 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.bbookingnow-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 187.8px;
  height: 62.2px;
}
.bbooking-now5 {
  position: absolute;
  top: 23.1px;
  left: 45.9px;
  text-transform: uppercase;
}
.bbookingnow-parent3 {
  position: absolute;
  top: 1327.8px;
  left: 187.7px;
  width: 187.8px;
  height: 62.2px;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.bjiudianq-child {
  position: absolute;
  top: 1328px;
  left: 0;
  background-color: var(--color-white);
  width: 187px;
  height: 64px;
}
.bavgnight5,
.bb7,
.bdiv19 {
  position: absolute;
  text-transform: uppercase;
  color: var(--color-gray-200);
  text-align: center;
}
.bdiv19 {
  top: 1346.4px;
  left: 47.6px;
  opacity: 0.3;
}
.bavgnight5,
.bb7 {
  top: 1364.9px;
  left: 56px;
}
.bb7 {
  top: 1343.4px;
  left: 88.6px;
  font-size: var(--font-size-xl);
}
.bjiudianq-item {
  position: absolute;
  top: 1354.5px;
  left: 46px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 35px;
  height: 1px;
  opacity: 0.5;
}
.bfanhui1-icon7 {
  position: absolute;
  top: 43.1px;
  left: 15.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}
.bline32 {
  position: absolute;
  top: 843px;
  left: 19.5px;
  border-top: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 344px;
  height: 1px;
}
.bcheckin-date1 {
  position: absolute;
  top: 813.5px;
  left: 52px;
  font-size: var(--font-size-lg);
}
.bline33 {
  position: absolute;
  top: 912.3px;
  left: 19.5px;
  border-top: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 344px;
  height: 1px;
}
.brectanglexia-icon3,
.brectanglexia-icon4,
.brectanglexia-icon5 {
  position: absolute;
  top: 881.2px;
  left: 342.7px;
  width: 14.1px;
  height: 14.1px;
  object-fit: contain;
}
.brectanglexia-icon4,
.brectanglexia-icon5 {
  top: 950px;
  left: 343px;
}
.brectanglexia-icon5 {
  top: 815.2px;
  left: 342.7px;
}
.badults-0-children1,
.bcheckout-date1 {
  position: absolute;
  top: 879.8px;
  left: 52px;
  font-size: var(--font-size-lg);
}
.badults-0-children1 {
  top: 948.1px;
  left: 55px;
  white-space: pre-wrap;
}
.bdatetime-icon1 {
  position: relative;
  width: 15.5px;
  height: 16.5px;
}
.bdatetime-icon2 {
  position: relative;
  width: 15.5px;
  height: 16.5px;
  top: 45px;
}
.bgroup-child1 {
  position: absolute;
  top: 131.5px;
  left: 0;
  width: 25.4px;
  height: 20.4px;
  object-fit: cover;
}
.bdatetime-group {
  position: absolute;
  top: 813.9px;
  left: 20px;
  width: 25.4px;
  height: 152px;
}
.bkempinski1 {
  position: absolute;
  top: 43px;
  left: 39px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.81);
}
.bgaodu2-icon1,
.bjiudianq {
  width: 100%;
  overflow: hidden;
}
.bgaodu2-icon1 {
  position: absolute;
  height: 2.7%;
  top: 0;
  right: -0.27%;
  bottom: 97.3%;
  left: 0.27%;
  max-width: 100%;
  max-height: 100%;
}
.bjiudianq {
  position: relative;
  background-color: var(--color-white);
  height: 1390px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
