.notifications17 {
  position: absolute;
  top: 49px;
  left: 17px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.group-child22,
.group-child23 {
  position: absolute;
  top: 744.5px;
  left: 0;
  border-radius: var(--br-sm);
  width: 381px;
  height: 73.5px;
}
.group-child23 {
  top: 742px;
  left: 4.1px;
}
.rooms12 {
  position: absolute;
  top: 24.3px;
  left: 0;
}
.subtractwuzi-icon6 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.rooms-parent10 {
  position: absolute;
  top: 766.8px;
  left: 30px;
  width: 38px;
  height: 38.3px;
  cursor: pointer;
}
.car-booking12 {
  position: absolute;
  top: 22.4px;
  left: 0;
}
.blackcar-icon10 {
  position: relative;
  width: 22px;
  height: 17.6px;
}
.car-booking-parent10 {
  position: absolute;
  top: 768.6px;
  left: 81.8px;
  width: 65px;
  height: 36.4px;
  cursor: pointer;
}
.my-profile12 {
  position: absolute;
  top: 21.6px;
  left: 0;
}
.blackpeo-icon11 {
  position: relative;
  width: 17.6px;
  height: 16.1px;
}
.my-profile-parent10 {
  position: absolute;
  top: 769.4px;
  left: 241.3px;
  width: 53px;
  height: 35.6px;
  cursor: pointer;
}
.settings13 {
  position: absolute;
  top: 16.6px;
  left: 0;
}
.srectangle-230,
.srectangle-330 {
  position: absolute;
  top: 1.3px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-330 {
  top: 0;
  left: 7.4px;
  width: 2px;
  height: 4.3px;
}
.srectangle-2112,
.srectangle-2211,
.srectangle-3112,
.srectangle-3211 {
  position: absolute;
  top: 5.6px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-2211,
.srectangle-3112,
.srectangle-3211 {
  top: 4.3px;
  left: 12.6px;
  width: 2px;
  height: 4.3px;
}
.srectangle-2211,
.srectangle-3211 {
  top: 9.5px;
  left: 0;
  width: 16.8px;
  height: 1.6px;
}
.srectangle-3211 {
  top: 8.2px;
  left: 4.8px;
  width: 2px;
  height: 4.3px;
}
.blackset11 {
  position: absolute;
  top: 0;
  left: 13.6px;
  width: 16.8px;
  height: 12.5px;
}
.settings-parent10 {
  position: absolute;
  top: 774.4px;
  left: 308px;
  width: 44px;
  height: 30.6px;
  cursor: pointer;
}
.bellwrite-icon4,
.notifications18 {
  position: absolute;
  top: 25px;
  left: 0;
}
.bellwrite-icon4 {
  height: 57.95%;
  width: 31.88%;
  top: 0;
  right: 34.78%;
  bottom: 42.05%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications-parent9 {
  position: absolute;
  top: 766px;
  left: 158px;
  width: 69px;
  height: 39px;
  color: var(--color-white);
}
.gaobu-icon12 {
  position: absolute;
  height: 4.58%;
  width: 97.38%;
  top: 0;
  right: 2.1%;
  bottom: 95.42%;
  left: 0.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon12 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.vector-parent2 {
  position: absolute;
  top: 0;
  left: -2px;
  width: 385.1px;
  height: 818px;
  text-align: center;
  color: var(--color-midnightblue);
}
.group-child24 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}
.booking1 {
  position: absolute;
  top: 49.3px;
  left: 2px;
  font-weight: 300;
}
.booking-group,
.luse-icon1 {
  position: absolute;
  width: 46.8px;
}
.luse-icon1 {
  top: 0;
  left: 0;
  border-radius: var(--br-16xl);
  height: 46.3px;
}
.booking-group {
  top: 3px;
  left: 28px;
  height: 63.3px;
  color: var(--color-black);
}
.account1 {
  position: absolute;
  top: 49.3px;
  left: 1.4px;
  font-weight: 300;
}
.group-child25 {
  position: absolute;
  height: 40.28%;
  width: 48.5%;
  top: 15.8%;
  right: 25.85%;
  bottom: 43.92%;
  left: 25.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.account-group {
  position: absolute;
  top: 3px;
  left: 121px;
  width: 46.8px;
  height: 63.3px;
  cursor: pointer;
}
.service1 {
  position: absolute;
  top: 49.3px;
  left: 4.4px;
  font-weight: 300;
}
.service-group {
  position: absolute;
  top: 3px;
  left: 212px;
  width: 46.8px;
  height: 63.3px;
  cursor: pointer;
}
.vip1 {
  position: absolute;
  top: 49.3px;
  left: 14.4px;
  font-weight: 300;
}
.hamburger-icon1 {
  position: absolute;
  top: 8.3px;
  left: 9.8px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.vip-group {
  position: absolute;
  top: 3px;
  left: 303px;
  width: 46.8px;
  height: 63.3px;
  cursor: pointer;
}
.group-child26,
.group-child27 {
  position: absolute;
  height: 3.31%;
  width: 4.21%;
  top: 2.64%;
  right: 84.47%;
  bottom: 94.05%;
  left: 11.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child27 {
  width: 5.26%;
  top: 2.81%;
  right: 35.26%;
  bottom: 93.88%;
  left: 59.47%;
}
.rectangle-parent6 {
  position: absolute;
  top: 145px;
  left: 0;
  width: 380px;
  height: 605px;
  text-align: center;
  color: var(--color-lightsteelblue);
}
.lanse222-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 171.5px;
  height: 37.2px;
}
.message4,
.vector23m-icon3 {
  position: absolute;
  top: 8.1px;
  left: 64px;
}
.vector23m-icon3 {
  height: 48.39%;
  width: 10.5%;
  top: 24.46%;
  right: 67.35%;
  bottom: 27.15%;
  left: 22.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanse222-parent1 {
  position: absolute;
  top: 98.9px;
  left: 16px;
  width: 171.5px;
  height: 37.2px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.group-child28,
.plan4 {
  position: absolute;
  top: 8.1px;
  left: 85.5px;
}
.group-child28 {
  height: 32.26%;
  width: 10.5%;
  top: 35.22%;
  right: 55.98%;
  bottom: 32.53%;
  left: 33.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanbiankuan-parent1 {
  position: absolute;
  top: 98.9px;
  left: 187.5px;
  width: 171.5px;
  height: 37.2px;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.notification-message-booking {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
