.group-child5,
.group-child6 {
  position: absolute;
  top: 744.5px;
  left: 0;
  border-radius: var(--br-sm);
  width: 381px;
  height: 73.5px;
}
.group-child6 {
  top: 742px;
  left: 4.1px;
}
.gaobu-icon8 {
  position: absolute;
  height: 4.58%;
  width: 97.38%;
  top: 0;
  right: 2.1%;
  bottom: 95.42%;
  left: 0.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon8 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.bellwrite-icon,
.notifications9 {
  position: absolute;
  top: 25px;
  left: 0;
}
.bellwrite-icon {
  height: 57.95%;
  width: 31.88%;
  top: 0;
  right: 34.78%;
  bottom: 42.05%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-5bell-write,
.vector-parent {
  position: absolute;
  top: 766px;
  left: 158px;
  width: 69px;
  height: 39px;
}
.vector-parent {
  top: 0;
  left: -2px;
  width: 385.1px;
  height: 818px;
  color: var(--color-white);
}
.notification-message-booking-p-child {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}
.notifications10 {
  position: absolute;
  top: 49px;
  left: 17px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-black);
  text-align: left;
}
.lanbiankuan124-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 171.5px;
  height: 37.2px;
}
.message,
.nvector-icon {
  position: absolute;
  top: 8.1px;
  left: 64px;
}
.nvector-icon {
  height: 48.39%;
  width: 10.5%;
  top: 24.46%;
  right: 67.35%;
  bottom: 27.15%;
  left: 22.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanbiankuan124-parent {
  position: absolute;
  top: 98.9px;
  left: 16px;
  width: 171.5px;
  height: 37.2px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.group-child7,
.plan {
  position: absolute;
  top: 8.1px;
  left: 85.5px;
}
.group-child7 {
  height: 32.26%;
  width: 10.5%;
  top: 35.22%;
  right: 55.98%;
  bottom: 32.53%;
  left: 33.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanse1-parent {
  position: absolute;
  top: 98.9px;
  left: 187.5px;
  width: 171.5px;
  height: 37.2px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.rooms8 {
  position: absolute;
  top: 24.3px;
  left: 0;
}
.subtractwuzi-icon2 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.rooms-parent6 {
  position: absolute;
  top: 766.8px;
  left: 30px;
  width: 38px;
  height: 38.3px;
  cursor: pointer;
}
.car-booking8 {
  position: absolute;
  top: 22.4px;
  left: 0;
}
.blackcar-icon6 {
  position: relative;
  width: 22px;
  height: 17.6px;
}
.car-booking-parent6 {
  position: absolute;
  top: 768.6px;
  left: 81.8px;
  width: 65px;
  height: 36.4px;
  cursor: pointer;
}
.my-profile8 {
  position: absolute;
  top: 21.6px;
  left: 0;
}
.blackpeo-icon7 {
  position: relative;
  width: 17.6px;
  height: 16.1px;
}
.my-profile-parent6 {
  position: absolute;
  top: 769.4px;
  left: 241.3px;
  width: 53px;
  height: 35.6px;
  cursor: pointer;
}
.settings9 {
  position: absolute;
  top: 16.6px;
  left: 0;
}
.srectangle-29,
.srectangle-39 {
  position: absolute;
  top: 1.3px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-39 {
  top: 0;
  left: 7.4px;
  width: 2px;
  height: 4.3px;
}
.srectangle-217,
.srectangle-227,
.srectangle-317,
.srectangle-327 {
  position: absolute;
  top: 5.6px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-227,
.srectangle-317,
.srectangle-327 {
  top: 4.3px;
  left: 12.6px;
  width: 2px;
  height: 4.3px;
}
.srectangle-227,
.srectangle-327 {
  top: 9.5px;
  left: 0;
  width: 16.8px;
  height: 1.6px;
}
.srectangle-327 {
  top: 8.2px;
  left: 4.8px;
  width: 2px;
  height: 4.3px;
}
.blackset7 {
  position: absolute;
  top: 0;
  left: 13.6px;
  width: 16.8px;
  height: 12.5px;
}
.settings-parent6 {
  position: absolute;
  top: 774.4px;
  left: 308px;
  width: 44px;
  height: 30.6px;
  cursor: pointer;
}
.notification-message-booking-p {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-midnightblue);
  font-family: var(--font-roboto);
}
