.group-child8,
.group-child9 {
  position: absolute;
  top: 744.5px;
  left: 0;
  border-radius: var(--br-sm);
  width: 381px;
  height: 73.5px;
}
.group-child9 {
  top: 742px;
  left: 4.1px;
}
.gaobu-icon9 {
  position: absolute;
  height: 4.58%;
  width: 97.38%;
  top: 0;
  right: 2.1%;
  bottom: 95.42%;
  left: 0.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon9 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.bellwrite-icon1,
.notifications11 {
  position: absolute;
  top: 25px;
  left: 0;
}
.bellwrite-icon1 {
  height: 57.95%;
  width: 31.88%;
  top: 0;
  right: 34.78%;
  bottom: 42.05%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications-parent6,
.vector-group {
  position: absolute;
  top: 766px;
  left: 158px;
  width: 69px;
  height: 39px;
}
.vector-group {
  top: 0;
  left: -2px;
  width: 385.1px;
  height: 818px;
  color: var(--color-white);
}
.notification-message-vip-child {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}
.notifications12 {
  position: absolute;
  top: 49px;
  left: 17px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-black);
  text-align: left;
}
.lanse222-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 171.5px;
  height: 37.2px;
}
.message1,
.vector23m-icon {
  position: absolute;
  top: 8.1px;
  left: 64px;
}
.vector23m-icon {
  height: 48.39%;
  width: 10.5%;
  top: 24.46%;
  right: 67.35%;
  bottom: 27.15%;
  left: 22.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanse222-parent {
  position: absolute;
  top: 98.9px;
  left: 16px;
  width: 171.5px;
  height: 37.2px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.group-child10,
.plan1 {
  position: absolute;
  top: 8.1px;
  left: 85.5px;
}
.group-child10 {
  height: 32.26%;
  width: 10.5%;
  top: 35.22%;
  right: 55.98%;
  bottom: 32.53%;
  left: 33.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanbiankuan-parent {
  position: absolute;
  top: 98.9px;
  left: 187.5px;
  width: 171.5px;
  height: 37.2px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.rooms9 {
  position: absolute;
  top: 24.3px;
  left: 0;
}
.subtractwuzi-icon3 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.rooms-parent7 {
  position: absolute;
  top: 766.8px;
  left: 30px;
  width: 38px;
  height: 38.3px;
  cursor: pointer;
}
.car-booking9 {
  position: absolute;
  top: 22.4px;
  left: 0;
}
.blackcar-icon7 {
  position: relative;
  width: 22px;
  height: 17.6px;
}
.car-booking-parent7 {
  position: absolute;
  top: 768.6px;
  left: 81.8px;
  width: 65px;
  height: 36.4px;
  cursor: pointer;
}
.my-profile9 {
  position: absolute;
  top: 21.6px;
  left: 0;
}
.blackpeo-icon8 {
  position: relative;
  width: 17.6px;
  height: 16.1px;
}
.my-profile-parent7 {
  position: absolute;
  top: 769.4px;
  left: 241.3px;
  width: 53px;
  height: 35.6px;
  cursor: pointer;
}
.settings10 {
  position: absolute;
  top: 16.6px;
  left: 0;
}
.srectangle-210,
.srectangle-310 {
  position: absolute;
  top: 1.3px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-310 {
  top: 0;
  left: 7.4px;
  width: 2px;
  height: 4.3px;
}
.srectangle-218,
.srectangle-228,
.srectangle-318,
.srectangle-328 {
  position: absolute;
  top: 5.6px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-228,
.srectangle-318,
.srectangle-328 {
  top: 4.3px;
  left: 12.6px;
  width: 2px;
  height: 4.3px;
}
.srectangle-228,
.srectangle-328 {
  top: 9.5px;
  left: 0;
  width: 16.8px;
  height: 1.6px;
}
.srectangle-328 {
  top: 8.2px;
  left: 4.8px;
  width: 2px;
  height: 4.3px;
}
.blackset8 {
  position: absolute;
  top: 0;
  left: 13.6px;
  width: 16.8px;
  height: 12.5px;
}
.settings-parent7 {
  position: absolute;
  top: 774.4px;
  left: 308px;
  width: 44px;
  height: 30.6px;
  cursor: pointer;
}
.notification-message-vip {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-midnightblue);
  font-family: var(--font-roboto);
}
