.group-child16,
.group-child17 {
  position: absolute;
  top: 744.5px;
  left: 0;
  border-radius: var(--br-sm);
  width: 381px;
  height: 73.5px;
}
.group-child17 {
  top: 742px;
  left: 4.1px;
}
.gaobu-icon11 {
  position: absolute;
  height: 4.58%;
  width: 97.38%;
  top: 0;
  right: 2.1%;
  bottom: 95.42%;
  left: 0.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon11 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.bellwrite-icon3,
.notifications15 {
  position: absolute;
  top: 25px;
  left: 0;
}
.bellwrite-icon3 {
  height: 57.95%;
  width: 31.88%;
  top: 0;
  right: 34.78%;
  bottom: 42.05%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications-parent8,
.vector-parent1 {
  position: absolute;
  top: 766px;
  left: 158px;
  width: 69px;
  height: 39px;
}
.vector-parent1 {
  top: 0;
  left: -2px;
  width: 385.1px;
  height: 818px;
  color: var(--color-white);
}
.notification-message-account-child {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}
.notifications16 {
  position: absolute;
  top: 49px;
  left: 17px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-black);
  text-align: left;
}
.account {
  position: absolute;
  top: 49.3px;
  left: 1.4px;
  font-weight: 300;
}
.luse-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-16xl);
  width: 46.8px;
  height: 46.3px;
}
.group-child18 {
  position: absolute;
  height: 40.28%;
  width: 48.5%;
  top: 15.8%;
  right: 25.85%;
  bottom: 43.92%;
  left: 25.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.account-parent {
  position: absolute;
  top: 0;
  left: 93px;
  width: 46.8px;
  height: 63.3px;
  color: var(--color-black);
}
.service {
  position: absolute;
  top: 49.3px;
  left: 4.4px;
  font-weight: 300;
}
.group-child19 {
  position: absolute;
  height: 31.6%;
  width: 42.74%;
  top: 22.12%;
  right: 27.35%;
  bottom: 46.29%;
  left: 29.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.service-parent {
  position: absolute;
  top: 0;
  left: 184px;
  width: 46.8px;
  height: 63.3px;
  cursor: pointer;
}
.vip {
  position: absolute;
  top: 49.3px;
  left: 14.4px;
  font-weight: 300;
}
.hamburger-icon {
  position: absolute;
  top: 8.3px;
  left: 9.8px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.vip-parent {
  position: absolute;
  top: 0;
  left: 275px;
  width: 46.8px;
  height: 63.3px;
  cursor: pointer;
}
.booking {
  position: absolute;
  top: 49.3px;
  left: 2px;
  font-weight: 300;
}
.group-child20 {
  position: absolute;
  height: 31.6%;
  width: 34.19%;
  top: 20.54%;
  right: 33.76%;
  bottom: 47.87%;
  left: 32.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.booking-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 46.8px;
  height: 63.3px;
  cursor: pointer;
}
.group-parent1 {
  position: absolute;
  top: 148px;
  left: 28px;
  width: 321.8px;
  height: 63.3px;
  color: var(--color-lightsteelblue);
}
.lanse222-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 171.5px;
  height: 37.2px;
}
.message3,
.vector23m-icon2 {
  position: absolute;
  top: 8.1px;
  left: 64px;
}
.vector23m-icon2 {
  height: 48.39%;
  width: 10.5%;
  top: 24.46%;
  right: 67.35%;
  bottom: 27.15%;
  left: 22.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanse222-container {
  position: absolute;
  top: 98.9px;
  left: 16px;
  width: 171.5px;
  height: 37.2px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.group-child21,
.plan3 {
  position: absolute;
  top: 8.1px;
  left: 85.5px;
}
.group-child21 {
  height: 32.26%;
  width: 10.5%;
  top: 35.22%;
  right: 55.98%;
  bottom: 32.53%;
  left: 33.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanbiankuan-container {
  position: absolute;
  top: 98.9px;
  left: 187.5px;
  width: 171.5px;
  height: 37.2px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.rooms11 {
  position: absolute;
  top: 24.3px;
  left: 0;
}
.subtractwuzi-icon5 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.rooms-parent9 {
  position: absolute;
  top: 766.8px;
  left: 30px;
  width: 38px;
  height: 38.3px;
  cursor: pointer;
}
.car-booking11 {
  position: absolute;
  top: 22.4px;
  left: 0;
}
.blackcar-icon9 {
  position: relative;
  width: 22px;
  height: 17.6px;
}
.car-booking-parent9 {
  position: absolute;
  top: 768.6px;
  left: 81.8px;
  width: 65px;
  height: 36.4px;
  cursor: pointer;
}
.my-profile11 {
  position: absolute;
  top: 21.6px;
  left: 0;
}
.blackpeo-icon10 {
  position: relative;
  width: 17.6px;
  height: 16.1px;
}
.my-profile-parent9 {
  position: absolute;
  top: 769.4px;
  left: 241.3px;
  width: 53px;
  height: 35.6px;
  cursor: pointer;
}
.settings12 {
  position: absolute;
  top: 16.6px;
  left: 0;
}
.srectangle-220,
.srectangle-320 {
  position: absolute;
  top: 1.3px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-320 {
  top: 0;
  left: 7.4px;
  width: 2px;
  height: 4.3px;
}
.srectangle-2111,
.srectangle-2210,
.srectangle-3111,
.srectangle-3210 {
  position: absolute;
  top: 5.6px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-2210,
.srectangle-3111,
.srectangle-3210 {
  top: 4.3px;
  left: 12.6px;
  width: 2px;
  height: 4.3px;
}
.srectangle-2210,
.srectangle-3210 {
  top: 9.5px;
  left: 0;
  width: 16.8px;
  height: 1.6px;
}
.srectangle-3210 {
  top: 8.2px;
  left: 4.8px;
  width: 2px;
  height: 4.3px;
}
.blackset10 {
  position: absolute;
  top: 0;
  left: 13.6px;
  width: 16.8px;
  height: 12.5px;
}
.settings-parent9 {
  position: absolute;
  top: 774.4px;
  left: 308px;
  width: 44px;
  height: 30.6px;
  cursor: pointer;
}
.notification-message-account {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-midnightblue);
  font-family: var(--font-roboto);
}
