.arectangle6 {
  position: absolute;
  top: -3px;
  left: -1px;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
  display: none;
}

.anotifications-child {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}

.arectangle7 {
  position: absolute;
  top: 342px;
  left: -1px;
  background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
  width: 378px;
  height: 270px;
}

.anotifications-item {
  position: absolute;
  top: 316px;
  left: 27px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 322px;
  height: 424px;
}

.abeijing-shezi1 {
  position: absolute;
  top: 102px;
  left: 0;
  background-color: var(--color-gainsboro);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  width: 378px;
  height: 710px;
  opacity: 0.5;
}

.aunion-icon {
  position: relative;
  width: 375.5px;
  height: 38px;
}

.anotifications-inner {
  position: absolute;
  top: 120px;
  left: 18px;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  width: 338px;
  height: 67px;
}

.ayour-room-booking {
  margin: 0;
}

.ajuly-20232,
.ayour-room-booking-container {
  position: absolute;
  top: 134.5px;
  left: 40px;
}

.ajuly-20232 {
  top: 127.5px;
  left: 293px;
  font-size: var(--font-size-3xs);
  text-align: right;
  opacity: 0.5;
}

.anotifications-child1 {
  position: absolute;
  top: 204px;
  left: 18px;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  width: 338px;
  height: 67px;
}

.ajuly-20233,
.amessage-from-the {
  position: absolute;
  top: 229.5px;
  left: 40px;
}

.ajuly-20233 {
  top: 211.5px;
  left: 293px;
  font-size: var(--font-size-3xs);
  text-align: right;
  opacity: 0.5;
}

.amyprofile2,
.anotifications1 {
  position: absolute;
  top: 49px;
  left: 17px;
  font-weight: 500;
}

.anotifications1 {
  top: 50px;
  left: 56px;
  color: var(--color-black);
}

.agaobu-icon5 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.adibu-icon5 {
  position: relative;
  width: 375.5px;
  height: 38px;
}

.amyprofile-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 375.5px;
  height: 812px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}

.afanhui-icon5 {
  position: absolute;
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}

.anotifications {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
