.group-child11,
.group-child12 {
  position: absolute;
  top: 744.5px;
  left: 0;
  border-radius: var(--br-sm);
  width: 381px;
  height: 73.5px;
}
.group-child12 {
  top: 742px;
  left: 4.1px;
}
.gaobu-icon10 {
  position: absolute;
  height: 4.58%;
  width: 97.38%;
  top: 0;
  right: 2.1%;
  bottom: 95.42%;
  left: 0.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon10 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.bellwrite-icon2,
.notifications13 {
  position: absolute;
  top: 25px;
  left: 0;
}
.bellwrite-icon2 {
  height: 57.95%;
  width: 31.88%;
  top: 0;
  right: 34.78%;
  bottom: 42.05%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications-parent7 {
  position: absolute;
  top: 766px;
  left: 158px;
  width: 69px;
  height: 39px;
}
.vector-container {
  position: absolute;
  top: 0;
  left: -2px;
  width: 385.1px;
  height: 818px;
  color: var(--color-white);
}
.notification-message-service-child {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}
.notifications14 {
  position: absolute;
  top: 49px;
  left: 17px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-black);
  text-align: left;
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  width: 338px;
  height: 82px;
}
.fuzhou-hotel-service,
.july-2023 {
  position: absolute;
  top: 13px;
  left: 47.3px;
}
.july-2023 {
  top: 17px;
  left: 272.3px;
  font-size: var(--font-size-3xs);
  font-weight: 300;
  opacity: 0.5;
}
.hello-how-can {
  position: absolute;
  top: 31px;
  left: 47px;
  display: inline-block;
  width: 247px;
  height: 38px;
}
.group-child14,
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 82px;
}
.group-child14 {
  height: 31.1%;
  width: 6.72%;
  top: 21.95%;
  right: 89.73%;
  bottom: 46.95%;
  left: 3.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-container {
  position: absolute;
  top: 233px;
  left: 19px;
  width: 338px;
  height: 82px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.lanse222-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 171.5px;
  height: 37.2px;
}
.message2,
.vector23m-icon1 {
  position: absolute;
  top: 8.1px;
  left: 64px;
}
.vector23m-icon1 {
  height: 48.39%;
  width: 10.5%;
  top: 24.46%;
  right: 67.35%;
  bottom: 27.15%;
  left: 22.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanse222-group {
  position: absolute;
  top: 98.9px;
  left: 16px;
  width: 171.5px;
  height: 37.2px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.group-child15,
.plan2 {
  position: absolute;
  top: 8.1px;
  left: 85.5px;
}
.group-child15 {
  height: 32.26%;
  width: 10.5%;
  top: 35.22%;
  right: 55.98%;
  bottom: 32.53%;
  left: 33.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lanbiankuan-group {
  position: absolute;
  top: 98.9px;
  left: 187.5px;
  width: 171.5px;
  height: 37.2px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.rooms10 {
  position: absolute;
  top: 24.3px;
  left: 0;
}
.subtractwuzi-icon4 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.rooms-parent8 {
  position: absolute;
  top: 766.8px;
  left: 30px;
  width: 38px;
  height: 38.3px;
  cursor: pointer;
}
.car-booking10 {
  position: absolute;
  top: 22.4px;
  left: 0;
}
.blackcar-icon8 {
  position: relative;
  width: 22px;
  height: 17.6px;
}
.car-booking-parent8 {
  position: absolute;
  top: 768.6px;
  left: 81.8px;
  width: 65px;
  height: 36.4px;
  cursor: pointer;
}
.my-profile10 {
  position: absolute;
  top: 21.6px;
  left: 0;
}
.blackpeo-icon9 {
  position: relative;
  width: 17.6px;
  height: 16.1px;
}
.my-profile-parent8 {
  position: absolute;
  top: 769.4px;
  left: 241.3px;
  width: 53px;
  height: 35.6px;
  cursor: pointer;
}
.settings11 {
  position: absolute;
  top: 16.6px;
  left: 0;
}
.srectangle-219,
.srectangle-319 {
  position: absolute;
  top: 1.3px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-319 {
  top: 0;
  left: 7.4px;
  width: 2px;
  height: 4.3px;
}
.srectangle-2110,
.srectangle-229,
.srectangle-3110,
.srectangle-329 {
  position: absolute;
  top: 5.6px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-229,
.srectangle-3110,
.srectangle-329 {
  top: 4.3px;
  left: 12.6px;
  width: 2px;
  height: 4.3px;
}
.srectangle-229,
.srectangle-329 {
  top: 9.5px;
  left: 0;
  width: 16.8px;
  height: 1.6px;
}
.srectangle-329 {
  top: 8.2px;
  left: 4.8px;
  width: 2px;
  height: 4.3px;
}
.blackset9 {
  position: absolute;
  top: 0;
  left: 13.6px;
  width: 16.8px;
  height: 12.5px;
}
.settings-parent8 {
  position: absolute;
  top: 774.4px;
  left: 308px;
  width: 44px;
  height: 30.6px;
  cursor: pointer;
}
.notification-message-service {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-midnightblue);
  font-family: var(--font-roboto);
}
