.bpayment-methods {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.bvector47-icon {
  position: absolute;
  top: 13px;
  left: 291.8px;
  width: 20.9px;
  height: 12px;
}
.bpayment-methods-parent {
  position: absolute;
  top: 49px;
  left: 45px;
  width: 312.6px;
  height: 28px;
}
.bka5-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  height: 42px;
}
.bka3-icon,
.bka4-icon,
.bka5-icon {
  width: 71px;
  object-fit: cover;
}
.bka4-icon {
  position: absolute;
  top: 0;
  left: 82px;
  border-radius: var(--br-7xs);
  height: 42px;
}
.bka3-icon {
  left: 164px;
}
.bka1-icon,
.bka2,
.bka3-icon {
  position: absolute;
  top: 0;
  border-radius: var(--br-7xs);
  height: 42px;
}
.bka2 {
  left: 247px;
  background-color: #050608;
  width: 71px;
}
.bka1-icon {
  left: 263px;
  width: 39px;
  object-fit: cover;
}
.bgaobu-icon5,
.byinghankazuhe {
  position: absolute;
  top: 91px;
  left: 19.5px;
  width: 318px;
  height: 42px;
}
.bgaobu-icon5 {
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bdibu-icon5 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.bsearch1-icon4,
.byinghankazhongyao-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 375.5px;
  height: 812px;
}
.bsearch1-icon4 {
  border-radius: var(--br-sm);
  width: 341px;
  height: 43px;
}
.bfinish-order {
  position: absolute;
  top: 12.5px;
  left: 122.5px;
}
.bfanhui-icon3,
.bfinishorder {
  position: absolute;
  cursor: pointer;
}
.bfinishorder {
  top: 439.5px;
  left: 21px;
  width: 341px;
  height: 43px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.bfanhui-icon3 {
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
}
.bpayment-methpds {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
