.find-room1 {
  position: absolute;
  top: 49px;
  left: 19px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.zuhedi-icon1 {
  position: absolute;
  height: 8.99%;
  width: 100%;
  top: 91.01%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stay1 {
  position: absolute;
  top: 55px;
  left: 192px;
  opacity: 0.3;
}
.huisejialus1,
.pass1 {
  position: absolute;
  top: 55px;
  left: 281px;
}
.huisejialus1 {
  top: 61.5px;
  left: 232.3px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  width: 22px;
  height: 6.3px;
}
.luse1 {
  position: absolute;
  top: 54.3px;
  left: 249.3px;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen);
  width: 20.8px;
  height: 20.8px;
}
.buzd-icon1,
.gaobu-icon1 {
  position: absolute;
  top: 56.9px;
  left: 341.8px;
  width: 21.2px;
  height: 19.1px;
}
.gaobu-icon1 {
  height: 4.58%;
  width: 98.43%;
  top: 0;
  right: 1.05%;
  bottom: 95.42%;
  left: 0.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon1 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.rooms1 {
  position: absolute;
  top: 24.3px;
  left: 0;
}
.subtractroomwrite-icon1 {
  position: relative;
  width: 19.5px;
  height: 19.5px;
}
.rooms-group {
  position: absolute;
  top: 766.8px;
  left: 30px;
  width: 38px;
  height: 38.3px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.landi1-icon1,
.landi12-icon1 {
  position: absolute;
  height: 4.55%;
  width: 45.01%;
  top: 12.46%;
  right: 49.74%;
  bottom: 83%;
  left: 5.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.landi1-icon1 {
  right: 4.72%;
  left: 50.26%;
}
.hotels1,
.villas1 {
  position: absolute;
  top: 13.45%;
  left: 20.81%;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.villas1 {
  left: 67.01%;
  color: var(--color-dodgerblue);
}
.find-room-group {
  position: absolute;
  top: 0;
  left: -2px;
  width: 381px;
  height: 818px;
  text-align: left;
  font-size: var(--font-size-base);
}
.people-number-child {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}
.rectanglexia-icon3,
.rectanglexia-icon4,
.rectanglexia-icon5 {
  position: absolute;
  top: 295.1px;
  left: 338.7px;
  width: 14.1px;
  height: 14.1px;
  object-fit: contain;
}
.rectanglexia-icon4,
.rectanglexia-icon5 {
  top: 362.1px;
}
.rectanglexia-icon5 {
  top: 229.1px;
}
.line8 {
  position: absolute;
  top: 391.5px;
  left: 15.5px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 344px;
  height: 1px;
}
.adults-0-children,
.fan1 {
  position: absolute;
  font-size: var(--font-size-lg);
  text-align: left;
}
.adults-0-children {
  top: 362px;
  left: 51px;
  white-space: pre-wrap;
}
.fan1 {
  top: 414px;
  left: 46px;
  opacity: 0.3;
}
.people-number-item {
  position: absolute;
  top: 163.9px;
  left: 16px;
  width: 25.4px;
  height: 215.9px;
  object-fit: cover;
}
.air-conditioned1 {
  position: absolute;
  top: 414px;
  left: 170px;
  font-size: var(--font-size-lg);
  text-align: left;
}
.search1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 341px;
  height: 43px;
}
.search1,
.search1-group {
  position: absolute;
  top: 12.5px;
  left: 142.5px;
}
.search1-group {
  top: 447.5px;
  left: 17px;
  width: 341px;
  height: 43px;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.people-number-inner {
  position: absolute;
  top: 621px;
  left: 4px;
  background-color: var(--color-aliceblue);
  width: 380px;
  height: 2.5px;
}
.best-places1 {
  top: 509px;
  left: 23px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  text-align: left;
  width: 108px;
  height: 16px;
  opacity: 0.5;
}
.best-places1,
.three-lanes-and1,
.view-all2 {
  position: absolute;
  display: inline-block;
}
.three-lanes-and1 {
  top: 596px;
  left: 23px;
  color: inherit;
  width: 92px;
  height: 13px;
  text-decoration: none;
}
.view-all2 {
  top: 509px;
  left: 276.6px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-dodgerblue);
  text-align: right;
  width: 82.4px;
  height: 14.6px;
  cursor: pointer;
}
.west-lake-park1 {
  position: absolute;
  top: 595.9px;
  left: 127.6px;
}
.best-hotels1,
.drum-mo1,
.forest-park1 {
  position: absolute;
  top: 595.9px;
  left: 237.3px;
}
.best-hotels1,
.drum-mo1 {
  left: 324.7px;
}
.best-hotels1 {
  top: 642px;
  left: 23px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  width: 108px;
  height: 16px;
  opacity: 0.5;
}
.intercontinental1,
.view-all3 {
  position: absolute;
  top: 728.9px;
  left: 24.2px;
  display: inline-block;
  width: 91.3px;
  height: 12.8px;
}
.view-all3 {
  top: 642px;
  left: 276.6px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-dodgerblue);
  text-align: right;
  width: 82.4px;
  height: 14.6px;
  cursor: pointer;
}
.hilton1,
.kempinski1,
.sheraton1 {
  position: absolute;
  top: 728.9px;
  left: 131.7px;
  display: inline-block;
  width: 73.8px;
  height: 12.8px;
}
.hilton1,
.sheraton1 {
  left: 232.3px;
  width: 70.2px;
}
.hilton1 {
  top: 729px;
  left: 329px;
  width: 54.8px;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon14,
.icon15,
.icon8,
.icon9 {
  position: absolute;
  top: 531.9px;
  left: 23.9px;
  border-radius: var(--br-6xs);
  width: 91.9px;
  height: 60.1px;
  object-fit: cover;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon14,
.icon15,
.icon9 {
  left: 122.7px;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon14,
.icon15 {
  left: 221.4px;
}
.icon11,
.icon12,
.icon13,
.icon14,
.icon15 {
  top: 532px;
  left: 321px;
  width: 53px;
  height: 60px;
}
.icon12,
.icon13,
.icon14,
.icon15 {
  top: 665px;
  left: 23px;
  width: 91.9px;
  height: 60.1px;
}
.icon13,
.icon14,
.icon15 {
  top: 664.9px;
  left: 122.7px;
}
.icon14,
.icon15 {
  left: 221.4px;
}
.icon15 {
  top: 665px;
  left: 321px;
  width: 53px;
  height: 60px;
}
.huisedot1,
.people-number-child1 {
  position: absolute;
  top: 413px;
  width: 22px;
  height: 22px;
}
.huisedot1 {
  left: 16.5px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.people-number-child1 {
  left: 140.5px;
}
.blackbell-icon1,
.notifications1 {
  position: absolute;
  top: 25px;
  left: 0;
}
.blackbell-icon1 {
  height: 57.95%;
  width: 31.88%;
  top: 0;
  right: 34.78%;
  bottom: 42.05%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notifications-group {
  position: absolute;
  top: 766px;
  left: 156px;
  width: 69px;
  height: 39px;
  cursor: pointer;
  color: var(--color-midnightblue);
}
.car-booking1 {
  position: absolute;
  top: 22.4px;
  left: 0;
}
.blackcar-icon1 {
  position: relative;
  width: 22px;
  height: 17.6px;
}
.car-booking-group {
  position: absolute;
  top: 768.6px;
  left: 81.8px;
  width: 65px;
  height: 36.4px;
  cursor: pointer;
  color: var(--color-midnightblue);
}
.my-profile1 {
  position: absolute;
  top: 21.6px;
  left: 0;
}
.blackpeo-icon1 {
  position: relative;
  width: 17.6px;
  height: 16.1px;
}
.my-profile-group {
  position: absolute;
  top: 769.4px;
  left: 241.3px;
  width: 53px;
  height: 35.6px;
  cursor: pointer;
  color: var(--color-midnightblue);
}
.settings1 {
  position: absolute;
  top: 16.6px;
  left: 0;
}
.srectangle-23,
.srectangle-33 {
  position: absolute;
  top: 1.3px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-33 {
  top: 0;
  left: 7.4px;
  width: 2px;
  height: 4.3px;
}
.srectangle-211,
.srectangle-221,
.srectangle-311,
.srectangle-321 {
  position: absolute;
  top: 5.6px;
  left: 0;
  background-color: var(--color-midnightblue);
  width: 16.8px;
  height: 1.6px;
}
.srectangle-221,
.srectangle-311,
.srectangle-321 {
  top: 4.3px;
  left: 12.6px;
  width: 2px;
  height: 4.3px;
}
.srectangle-221,
.srectangle-321 {
  top: 9.5px;
  left: 0;
  width: 16.8px;
  height: 1.6px;
}
.srectangle-321 {
  top: 8.2px;
  left: 4.8px;
  width: 2px;
  height: 4.3px;
}
.blackset1,
.settings-group {
  position: absolute;
  top: 0;
  left: 13.6px;
  width: 16.8px;
  height: 12.5px;
}
.settings-group {
  top: 774.4px;
  left: 308px;
  width: 44px;
  height: 30.6px;
  cursor: pointer;
  color: var(--color-midnightblue);
}
.datetimepage123-icon {

  max-width: 50%; /* 图片最大宽度为父容器的100% */
  height: auto;    /* 高度自动调整，以保持宽高比例 */
z-index: 10000;
  position: absolute;
  top: 391px;
  left: 15px;
  width: 363px;
  height: 273px;
  object-fit: cover;
  cursor: pointer;
}
.line9 {
  position: absolute;
  top: 29.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 344px;
  height: 1px;
}
.fuzhou1,
.group-div {
  position: absolute;
  top: 0;
  left: 32px;
}
.group-div {
  top: 162px;
  left: 16px;
  width: 343px;
  height: 30px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
}
.line11 {
  position: absolute;
  top: 98.8px;
  left: -0.5px;
  border-top: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 344px;
  height: 1px;
}
.august-2019-11001,
.line-parent1 {
  position: absolute;
  top: 66.3px;
  left: 32px;
}
.line-parent1 {
  top: 227.3px;
  left: 16px;
  width: 343px;
  height: 99.3px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-lg);
}
.people-number {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
