.arectangle4 {
  position: absolute;
  top: -3px;
  left: -1px;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
  display: none;
}

.aprivacy-policy-child {
  position: absolute;
  top: 145px;
  left: 0;
  background-color: var(--color-white);
  width: 380px;
  height: 605px;
}

.arectangle5 {
  position: absolute;
  top: 342px;
  left: -1px;
  background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
  width: 378px;
  height: 270px;
}

.aprivacy-policy-item {
  position: absolute;
  top: 316px;
  left: 27px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 322px;
  height: 424px;
}

.aprivacy-policy1 {
  position: absolute;
  top: 50px;
  left: 56px;
  font-weight: 500;
}

.abuilt-the-find {
  margin: 0;
}

.aprivacy-policy-built-container {
  position: absolute;
  top: 107px;
  left: 31px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 308px;
  height: 712px;
}

.agaobu-icon4 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.adibu-icon3 {
  position: relative;
  width: 375.5px;
  height: 38px;
}

.agroup-div {
  position: absolute;
  height: 100%;
  width: 100.13%;
  top: 0;
  right: -0.13%;
  bottom: 0;
  left: 0;
}

.afanhui-icon4 {
  position: absolute;
  top: 53.1px;
  left: 17.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}

.aprivacy-policy {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
