.bgive-rating,
.bmyprofile {
  position: absolute;
  top: 49px;
  left: 17px;
  font-weight: 500;
}
.bgive-rating {
  top: 50px;
  left: 56px;
  color: var(--color-black);
}
.brate-the-app-child {
  position: absolute;
  top: 210px;
  left: 19.9px;
  border-radius: 22px;
  background-color: var(--color-gainsboro-100);
  width: 335.2px;
  height: 297.8px;
}
.bwrite-your-review {
  position: absolute;
  top: 234.5px;
  left: 44.1px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-black);
  opacity: 0.5;
}
.brate-the-app-item {
  position: absolute;
  top: 0;
  left: 20px;
  width: 345.5px;
  height: 712px;
  object-fit: cover;
}
.bsearch1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 341px;
  height: 43px;
}
.bsubmit {
  position: absolute;
  top: 12.5px;
  left: 142.5px;
}
.bfanhui-icon1,
.bgroup1 {
  position: absolute;
  cursor: pointer;
}
.bgroup1 {
  top: 529.5px;
  left: 17px;
  width: 341px;
  height: 43px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.bfanhui-icon1 {
  top: 54.1px;
  left: 27.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
}
.brate-the-app {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
