.btupianzu333-icon {
  position: absolute;
  height: 56.77%;
  width: 355.5px;
  top: 40.89%;
 
  bottom: 2.34%;
  left: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.brectangle-icon1 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 375.5px;
  height: 257.5px;
  object-fit: cover;
}
.bline34 {
  position: absolute;
  top: 321px;
  left: -2px;
  border-top: 2px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 379px;
  height: 2px;
}
.bdibu-icon {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.blandi39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-mini) var(--br-mini) 0;
  background-color: var(--color-dodgerblue);
  border: 2px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 166px;
  height: 37.3px;
}
.bphoto-12 {
  position: absolute;
  top: 10.1px;
  left: 48px;
  display: inline-block;
  width: 113px;
}
.blandi39-parent,
.bwhite1-icon {
  position: absolute;
  top: 269.9px;
  left: 190px;
  width: 166px;
  height: 37.3px;
}
.bwhite1-icon {
  top: 0;
  left: 0;
  width: 175px;
  height: 37px;
  cursor: pointer;
}
.breview-1064 {
  position: absolute;
  top: 10px;
  left: 49px;
  display: inline-block;
  width: 82.5px;
}
.bwhite1-parent {
  position: absolute;
  top: 270px;
  left: 15px;
  width: 175px;
  height: 37px;
  color: var(--color-dodgerblue);
}
.bfanhui1-icon8 {
  position: absolute;
  top: 43.1px;
  left: 15.7px;
  width: 18.2px;
  height: 18.2px;
  object-fit: contain;
  cursor: pointer;
}
.bshenling {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-aliceblue);
  font-family: var(--font-roboto);
}
