.babidjan-cte-divoire,
.bthree-lanes-and {
  position: absolute;
  top: 763.4px;
  left: 21.2px;
  display: inline-block;
  width: 119.3px;
  height: 12.1px;
}
.bthree-lanes-and {
  top: 845.4px;
  left: 119.2px;
  font-size: var(--font-size-sm);
  width: 179.3px;
}
.bdistance,
.brating-1649,
.bthree-lanes-and1 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.bthree-lanes-and1 {
  top: 862.4px;
  left: 119.2px;
  line-height: 145.19%;
  width: 242.3px;
  height: 42.1px;
  opacity: 0.5;
}
.bdistance,
.brating-1649 {
  top: 912.4px;
  left: 123.2px;
  width: 81.3px;
  height: 14.1px;
}
.bdistance {
  left: 303.5px;
  text-align: right;
  width: 54px;
}
.bdiv1 {
  top: 931.4px;
  left: 141.2px;
  width: 21.3px;
  height: 14.1px;
}
.bdiv1,
.bdiv2,
.bmin,
.bpeople-liked-this1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.bmin {
  top: 931.4px;
  left: 303.5px;
  text-align: right;
  width: 54px;
  height: 14.1px;
}
.bdiv2,
.bpeople-liked-this1 {
  top: 2.9px;
  left: 17.7px;
  width: 22.3px;
  height: 12.8px;
}
.bpeople-liked-this1 {
  top: 20.9px;
  left: 2.2px;
  font-weight: 300;
  width: 146.8px;
  height: 12.1px;
}
.bstar-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xs);
  width: 17px;
  height: 17px;
}
.bfujian-fuzhou1 {
  position: absolute;
  top: 5.5px;
  left: 23.5px;
  font-weight: 300;
  display: inline-block;
  width: 146.8px;
  height: 12.1px;
}
.bgroup-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.bfujian-fuzhou-group,
.bgroup {
  position: absolute;
  top: 10.3px;
  left: 155.8px;
  width: 170.3px;
  height: 21.7px;
}
.bgroup {
  top: 211.5px;
  left: 24px;
  width: 326px;
  height: 33px;
  color: var(--color-white);
}
.bline4,
.bline5,
.bline6,
.bline7,
.bline8 {
  position: absolute;
  top: 321px;
  left: -2px;
  border-top: 2px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 379px;
  height: 2px;
}
.bline5,
.bline6,
.bline7,
.bline8 {
  top: 435px;
}
.bline6,
.bline7,
.bline8 {
  top: 795px;
}
.bline7,
.bline8 {
  top: 964px;
  left: 20px;
  width: 364px;
}
.bline8 {
  top: 1157px;
  left: -2px;
  width: 379px;
}
.bsheraton-fuzhou-hotel {
  margin: 0;
}
.bgood-location-overall,
.bscores-are-calculated-container,
.bsheraton-fuzhou-hotel-container {
  position: absolute;
  top: 356px;
  left: 19px;
  line-height: 145.19%;
  font-weight: 300;
  display: inline-block;
  width: 349px;
  height: 61px;
}
.bgood-location-overall,
.bscores-are-calculated-container {
  top: 689.5px;
  left: 22.5px;
  width: 337px;
  height: 48.5px;
  opacity: 0.5;
}
.bgood-location-overall {
  top: 487.5px;
  left: 102.5px;
  width: 243.5px;
  height: 61px;
}
.bgreat-for-promximity,
.bno-nearby-transit,
.bok-for-airport {
  position: absolute;
  top: 563.5px;
  left: 72.5px;
  line-height: 145.19%;
  display: inline-block;
  width: 243.5px;
  height: 14.5px;
}
.bno-nearby-transit,
.bok-for-airport {
  top: 610px;
}
.bok-for-airport {
  top: 656.5px;
}
.bbaidi44-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 115.5px;
  height: 37.2px;
}
.breview-106 {
  position: absolute;
  top: 10.6px;
  left: 17.5px;
  display: inline-block;
  width: 82.5px;
}
.bbaidi44-parent {
  position: absolute;
  top: 269.9px;
  left: 15px;
  width: 115.5px;
  height: 37.2px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-dodgerblue);
}
.bbaidizhongjian {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 115px;
  height: 37.3px;
}
.bphoto-10 {
  position: absolute;
  top: 10.6px;
  left: 25.4px;
  display: inline-block;
  width: 67.6px;
}
.bbaidizhongjian-parent {
  position: absolute;
  top: 269.9px;
  left: 129px;
  width: 115px;
  height: 37.3px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-dodgerblue);
}
.bhotel-location-score,
.blocation-over-view,
.bthings-to-do {
  position: absolute;
  top: 333.5px;
  left: 17.9px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  display: inline-block;
  width: 148.6px;
}
.bhotel-location-score,
.bthings-to-do {
  top: 445.5px;
  width: 176.6px;
}
.bthings-to-do {
  top: 809.5px;
}
.blandi44 {
  position: absolute;
  top: 269.9px;
  left: 242px;
  border-radius: 0 var(--br-mini) var(--br-mini) 0;
  background-color: var(--color-dodgerblue);
  width: 114px;
  height: 37.3px;
}
.bnear-by-24 {
  position: absolute;
  top: 280.5px;
  left: 260.2px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 77.6px;
}
.bbookingnow-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 187.8px;
  height: 62.2px;
}
.bbooking-now {
  position: absolute;
  top: 23.1px;
  left: 45.9px;
  text-transform: uppercase;
}
.bbookingnow-parent {
  position: absolute;
  top: 1327.8px;
  left: 187.7px;
  width: 187.8px;
  height: 62.2px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.bsheraton-item {
  position: absolute;
  top: 1328px;
  left: 0;
  background-color: var(--color-white);
  width: 187px;
  height: 64px;
}
.bavgnight,
.bb1,
.bdiv3 {
  position: absolute;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-gray-200);
  text-align: center;
}
.bdiv3 {
  top: 1346.4px;
  left: 47.6px;
  opacity: 0.3;
}
.bavgnight,
.bb1 {
  top: 1364.9px;
  left: 56px;
}
.bb1 {
  top: 1343.4px;
  left: 88.6px;
  font-size: var(--font-size-xl);
}
.bsheraton-inner {
  position: absolute;
  top: 1354.5px;
  left: 46px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 35px;
  height: 1px;
  opacity: 0.5;
}
.bphoto-camera-icon,
.bplane-icon,
.bsubway-icon {
  position: absolute;
  top: 598px;
  left: 32px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.bphoto-camera-icon,
.bplane-icon {
  top: 559px;
  left: 36px;
  width: 20px;
  height: 20px;
}
.bplane-icon {
  top: 645px;
  left: 32px;
  width: 31px;
  height: 31px;
}
.bdirections {
  position: absolute;
  top: 0;
  left: 20.4px;
  font-weight: 500;
  display: inline-block;
  width: 55.3px;
  height: 12.1px;
}
.bgroup-child {
  position: absolute;
  top: 4.9px;
  left: 0;
  width: 14px;
  height: 7.6px;
}
.bdirections-parent {
  position: absolute;
  top: 763.4px;
  left: 277.9px;
  width: 75.6px;
  height: 12.6px;
  color: var(--color-dodgerblue);
}
.bd1-icon,
.brectangle-icon {
  position: absolute;
  top: 763.2px;
  left: 282.8px;
  width: 10.2px;
  height: 10.2px;
  object-fit: contain;
}
.bd1-icon {
  top: 846.9px;
  left: 20.7px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 99.6px;
  object-fit: cover;
}
.bcar-icon,
.bstar-icon2 {
  position: absolute;
  top: 929px;
  width: 17px;
  height: 17px;
}
.bstar-icon2 {
  left: 119px;
  border-radius: var(--br-12xs);
}
.bcar-icon {
  left: 305px;
  overflow: hidden;
  object-fit: contain;
}
.bwest-lake-park {
  position: absolute;
  top: 979px;
  left: 119.2px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 179.3px;
  height: 12.1px;
}
.brating-16491,
.bthe-west-lake {
  position: absolute;
  font-weight: 300;
}
.bthe-west-lake {
  top: 996px;
  left: 119px;
  line-height: 145.19%;
  display: inline-block;
  width: 243px;
  height: 53px;
  opacity: 0.5;
}
.brating-16491 {
  top: 1046px;
  left: 123.2px;
  width: 81.3px;
}
.bdistance1,
.bdiv4,
.brating-16491 {
  display: inline-block;
  height: 14.1px;
}
.bdistance1 {
  position: absolute;
  top: 1046px;
  left: 303.5px;
  font-weight: 300;
  text-align: right;
  width: 54px;
}
.bdiv4 {
  top: 1065px;
  left: 141.2px;
  font-weight: 500;
  width: 21.3px;
}
.bdiv4,
.bline9,
.bmin1 {
  position: absolute;
}
.bmin1 {
  top: 1065px;
  left: 303.5px;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  width: 54px;
  height: 14.1px;
}
.bline9 {
  top: 1097.6px;
  left: 20px;
  border-top: 2px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 364px;
  height: 2px;
}
.bdd2-icon {
  position: absolute;
  top: 980.5px;
  left: 20.7px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 99.6px;
  object-fit: cover;
}
.bstar-icon3 {
  position: absolute;
  top: 1062.6px;
  left: 119px;
  border-radius: var(--br-12xs);
  width: 17px;
  height: 17px;
}
.bcar-icon1,
.bfanhui1-icon1 {
  position: absolute;
  object-fit: contain;
}
.bcar-icon1 {
  top: 1062.6px;
  left: 299px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.bfanhui1-icon1 {
  top: 43.1px;
  left: 15.7px;
  width: 18.2px;
  height: 18.2px;
  cursor: pointer;
}
.bsheraton1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1390px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
