.rectangle8 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
}
.group-child38 {
  position: absolute;
  top: 150px;
  left: 19px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 340px;
  height: 646px;
}
.line45 {
  position: absolute;
  top: 269.8px;
  left: 39.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 300px;
  height: 1px;
}
.email2,
.line46 {
  position: absolute;
  top: 240.3px;
  left: 72px;
}
.line46 {
  top: 340.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 300px;
  height: 1px;
}
.password {
  position: absolute;
  top: 311px;
  left: 75px;
}
.suoblue-icon {
  position: relative;
  width: 16px;
  height: 17.3px;
  top: 312px;
left: 40px;
}
.email-icon2 {
  position: absolute;
  top: 243px;
  left: 38px;
  width: 18px;
  height: 16.5px;
}
.rectangle-parent14 {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 380px;
  height: 816px;
  text-align: left;
  color: var(--color-black);
}
.blue-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-royalblue);
  width: 145px;
  height: 43px;
}
.facebook {
  position: absolute;
  top: 11.5px;
  left: 8.7px;
  display: inline-block;
  width: 127.6px;
  height: 18.5px;
}

.email2-top
{
  position: absolute;
  top: 234px;
  left: 75px;
  z-index: 1000;
  border: none;
  outline: 1px solid rgb(155, 155, 155);
  height: 35px;
  font-size: 20px;
  width: 260px;
  border-radius: 10px;
  transition: 50ms;
}
.email2-top:focus { 
  outline: 3px solid rgb(0, 81, 255); 
  border-radius: 10px;
}
.password2-top
{
  position: absolute;
  top: 303px;
  left: 75px;
  z-index: 1000;
  border: none;
  outline: 1px solid rgb(155, 155, 155);
  height: 35px;
  font-size: 20px;
  width: 260px;
  border-radius: 10px;
  transition: 50ms;
}
.password2-top:focus {
  outline: 3px solid rgb(0, 81, 255); 
  border-radius: 10px;
}

.blue {
  top: 609.5px;
  left: 37px;
  width: 145px;
  height: 43px;
  cursor: pointer;
}
.blue,
.google,
.red {
  position: absolute;
}
.red {
  top: 609.5px;
  left: 197px;
  border-radius: var(--br-sm);
  background-color: var(--color-tomato-200);
  width: 145px;
  height: 43px;
}
.google {
  top: 621px;
  left: 205.7px;
  display: inline-block;
  width: 127.6px;
  height: 18.5px;
}
.or-sign-in {
  position: absolute;
  top: 586px;
  left: 141px;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.gaobu-icon22 {
  position: absolute;
  height: 4.62%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon22 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.sign-up {
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-mediumseagreen);
}
.dont-have-an-container {
  position: absolute;
  top: 743px;
  left: 87px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.forgot-password2 {
  position: absolute;
  top: 376px;
  left: 115px;
  color: #ff4900;
  cursor: pointer;
}
.sign-in {
  position: absolute;
  top: 102px;
  left: 19px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  text-align: left;
}
.search1-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 305px;
  height: 43px;
}
.log-in {
  position: absolute;
  top: 12.5px;
  left: 93px;
  display: inline-block;
  width: 127.9px;
}
.search1-parent5 {
  position: absolute;
  top: 462.5px;
  left: 35px;
  width: 305px;
  height: 43px;
  cursor: pointer;
}
.signin1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
