.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #00ff94, #0000fe);
  width: 380px;
  height: 816px;
}
.chenbao-icon,
.yun-icon {
  position: relative;
  width: 261px;
  height: 178px;
}
.yun-icon {
  width: 69.2px;
  height: 13.8px;
}
.hotel-find {
  position: absolute;
  top: 240.5px;
  left: 0;
}
.gaobu-icon24,
.group4 {
  position: absolute;
  top: 223.5px;
  left: 57px;
  width: 269px;
  height: 309.5px;
}
.gaobu-icon24 {
  height: 4.6%;
  width: 98.68%;
  top: 0.37%;
  right: 1.05%;
  bottom: 95.04%;
  left: 0.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dibu-icon24 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.rectangle-parent15 {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 380px;
  height: 816px;
}
.splash {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: 59px;
  color: var(--color-white);
  font-family: var(--font-roboto);
}
