.bthanks-icon {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 380px;
  height: 816px;
  object-fit: cover;
}
.bgaobu-icon4 {
  position: absolute;
  height: 4.62%;
  width: 99.87%;
  top: 0;
  right: 0.13%;
  bottom: 95.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bdibu-icon4 {
  position: relative;
  width: 375.5px;
  height: 38px;
}
.bgaobu-group {
  position: absolute;
  height: 100%;
  width: 100.13%;
  top: 0;
  right: -0.13%;
  bottom: 0;
  left: 0;
}
.bthank-you {
  position: absolute;
  top: 180px;
  left: 0;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.byour-order-is {
  margin: 0;
}
.byour-order-is-container {
  position: absolute;
  top: 298px;
  left: 29px;
  font-size: 30px;
  line-height: 111.19%;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.bbed-icon {
  position: absolute;
  top: 0;
  left: 60px;
  width: 158px;
  height: 158px;
  overflow: hidden;
  object-fit: contain;
}
.bthank-you-parent {
  position: absolute;
  top: 149px;
  left: 48.5px;
  width: 278px;
  height: 364px;
  cursor: pointer;
}
.byour-order-is-successful {
  position: relative;
  width: 100%;
  height: 812px;
  overflow: hidden;
  background-image: url(/public/48-your-order-is-successful@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 50px;
  color: var(--color-white);
  font-family: var(--font-roboto);
}
