.bicon44 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 375.5px;
  height: 255.5px;
  object-fit: cover;
}
.bsheraton5 {
  position: absolute;
  top: 43px;
  left: 41.5px;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.81);
}
.bgaodu2-icon5 {
  position: absolute;
  height: 14.56%;
  width: 99.87%;
  top: 0;
  right: 0;
  bottom: 85.44%;
  left: 0.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bgroup-child7,
.bparent14 {
  position: absolute;
  top: 39.8px;
  left: 334.5px;
  width: 20.5px;
  height: 27px;
}
.bparent14 {
  top: 0;
  left: -0.5px;
  width: 375.5px;
  height: 257.5px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
