.bforest-park {
  position: absolute;
  top: 0;
  left: 126px;
}
.bdiv41,
.breviews-200 {
  position: absolute;
  top: 21.5px;
  left: 139.7px;
  font-weight: 300;
  display: inline-block;
  width: 22.3px;
  height: 12.8px;
}
.breviews-200 {
  top: 19.5px;
  left: 176.2px;
  width: 83.3px;
}
.bblank-line {
  margin: 0;
}
.bam-800-container,
.bhistorical-site {
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  height: 12.8px;
}
.bam-800-container {
  position: absolute;
  top: 40.5px;
  left: 127.5px;
  width: 143.5px;
}
.bhistorical-site {
  top: 63.5px;
  left: 125.2px;
  width: 225.3px;
}
.bhistorical-site,
.bicon46,
.bline81 {
  position: absolute;
}
.bicon46 {
  top: 0;
  left: 23.9px;
  border-radius: var(--br-6xs);
  width: 90px;
  height: 77.1px;
  object-fit: cover;
}
.bline81 {
  top: 94.6px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 378px;
  height: 1px;
}
.bstar-icon23 {
  position: absolute;
  top: 18.6px;
  left: 122px;
  border-radius: var(--br-12xs);
  width: 17px;
  height: 17px;
}
.bforest-park-parent,
.bparent19 {
  position: absolute;
  top: 1.9px;
  left: 0;
  width: 377px;
  height: 95.1px;
  font-size: var(--font-size-xs);
  color: var(--color-lightslategray);
}
.bforest-park-parent {
  top: 388px;
  left: -1px;
  height: 97px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
