.bgaodu2-icon6,
.bicon45 {
  position: absolute;
  top: 0;
}
.bicon45 {
  left: 0;
  width: 375.5px;
  height: 257.5px;
  object-fit: cover;
}
.bgaodu2-icon6 {
  height: 14.56%;
  width: 99.87%;
  right: 0;
  bottom: 85.44%;
  left: 0.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bkempinski2 {
  position: absolute;
  top: 43px;
  left: 42.5px;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.81);
}
.bparent15 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 375.5px;
  height: 257.5px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
