.brectangle-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375.5px;
  height: 257.5px;
  object-fit: cover;
}
.bthree-lanes-and12 {
  position: absolute;
  top: 38px;
  left: 32.5px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.81);
}
.bdiv40,
.bpeople-liked-this16 {
  position: absolute;
  top: 232.4px;
  left: 26.7px;
  font-weight: 300;
  display: inline-block;
  width: 146.8px;
  height: 12.1px;
}
.bdiv40 {
  top: 2.9px;
  left: 17.7px;
  font-weight: 500;
  width: 22.3px;
  height: 12.8px;
}
.bstar-icon22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xs);
  width: 17px;
  height: 17px;
}
.bfujian-fuzhou18,
.bparent18 {
  position: absolute;
  top: 211.5px;
  left: 24.5px;
  width: 40px;
  height: 17px;
}
.bfujian-fuzhou18 {
  top: 5.5px;
  left: 23.5px;
  font-weight: 300;
  display: inline-block;
  width: 146.8px;
  height: 12.1px;
}
.bgroup-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.5px;
  height: 21.7px;
  object-fit: cover;
}
.bfujian-fuzhou-parent15,
.bgaobu-icon9 {
  position: absolute;
  top: 221.8px;
  left: 180.3px;
  width: 170.3px;
  height: 21.7px;
}
.bgaobu-icon9 {
  height: 14.56%;
  width: 99.87%;
  top: 0;
  right: 0;
  bottom: 85.44%;
  left: 0.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.brectangle-group {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 375.5px;
  height: 257.5px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
