.bicon43 {
  position: absolute;
  top: 2px;
  left: 0.5px;
  width: 375.5px;
  height: 255.5px;
  object-fit: cover;
}
.bgaodu2-icon4 {
  position: absolute;
  height: 14.56%;
  width: 99.73%;
  top: 0;
  right: 0.27%;
  bottom: 85.44%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bsheraton4 {
  position: absolute;
  top: 39px;
  left: 41px;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.81);
}
.bparent13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 376px;
  height: 257.5px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
