.group-child40 {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  width: 338px;
  height: 82px;
}
.july-2023-coming-container {
  position: absolute;
  top: 0;
  left: 9px;
  text-align: center;
}
.fuzhou-hotel,
.you-have-a {
  position: absolute;
  top: 19px;
  left: 46px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 246px;
  height: 46px;
}
.you-have-a {
  top: 65px;
  left: 169px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
  width: 167px;
  height: 18px;
}
.rectangle-parent16 {
  position: absolute;
  top: 144px;
  left: 18px;
  width: 338px;
  height: 83px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
